.button {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 12px;
    padding: 5px 20px;
    font-size: 16px;
    background-color: var(--white);
}

.button:hover {
    cursor: pointer;
    background-color: var(--hover);
}